.team-table {
  width: 100%;
  margin-top: 2rem;
}

th.mat-header-cell, td.mat-cell {
  padding: 0.5rem 1rem;
}

th.mat-header-cell.shortName, td.mat-cell.shortName {
  width: 80px;
  text-align: center;
}

th.mat-header-cell.city, td.mat-cell.city {
  width: 120px;
  text-align: center;
}

th.mat-header-cell.colors, td.mat-cell.colors {
  width: 120px;
  text-align: center;
}
